{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block headerimg %}{% if article.headerimg %}{{ article.headerimg }}{% else %}{{ DEFAULT_HEADER_BG }}{% endif %}{% endblock %}

{% block extra_head %}
{% if 'angular' in article.include %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
{% endif %}
{% if 'jquery' in article.include %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% endif %}
{% if 'requirejs' in article.include %}
<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
{% endif %}
{% if 'bokeh' in article.include %}
<script src="//cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.7/bokeh.min.css"></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="container post">
    <article>
        <header>
            <h1>{{ article.title }}</h1>
            <time datetime="article.date.isoformat()" pubdate>{{ article.locale_date }}</time>
        </header>

        <img src="{{ SITEURL }}/images/{{ article.image }}">
        
        <div class="article_content">
            {{ article.content }}
        </div>

        <div class="meta">
            <div>
                {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </article>
    <section>
    <h1>Comments</h1>
        <div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript></div>
        <script type="text/javascript">
            var disqus_shortname = 'olamyy';
            var disqus_identifier = '/blog/2017/11/01/simulating-chutes-and-ladders/';
            var disqus_url = 'http://olamyy.github.io/blog/2017/11/01/simulating-chutes-and-ladders/';
            var disqus_title = 'The Hypothesis';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = "//" + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
  </section>
</div>

<style type="text/css">
{% include 'ipynb.css' %}
</style>

{% endblock %}
